@media (max-width: 1300px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-position: top;
        background-size: contain;
        max-width: 1300px;
        min-height: 750px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .header .logo {
        height: 63px;
    }

    .main .illustration {
        margin: 50px 74px 120px;
    }

    .main .info {
        align-items: center;
        text-align: center;
    }

    .main .info h1 {
        font-size: 4.7rem;
        margin-bottom: 30px;
    }

    .main .info p {
        font-size: 3.2rem;
        margin: 0 74px 45px;
        line-height: 48px;
    }

    .main .info .register {
        font-size: 2.4rem;
        align-self: center;
        padding: 23px 150px;
    }

    .footer .social-media {
        justify-content: center;
        margin: 0 0 50px 0;
    }

    .footer .social-media i {
        height: 50px;
        width: 50px;
        font-size: 2.5rem;
    }

}